.game_display {
    position: relative;
    width:450px;
}

.game_plate {
    position: absolute;
    width:100px;
    top:3%;
    left:27%;
}

.game_icon {
    position: absolute;
    height:54px;
    top:6%;
    left:13.5%;
}
