.game_display {
    position: relative;
    width:800;
    max-width:100%;
}

.game_plate {
    position: absolute;
    width:40%;
    top:1%;
    left:20.5%;
}

.game_icon {
    position: absolute;
    width:18%;
    top:6%;
    left:2.5%;
}

.game_rank {
    position: absolute;
    width:9%;
    top:5%;
    left:38%;
}

.game_rating {
    position: absolute;
    width:15%;
    height:7%;
    top:4%;
    left:21.5%;
    font-size:;
    font-weight:normal;
}

.game_name {
    position: absolute;
    top:9.5%;
    left:23.5%;
    height:12%;
    width:30%;    
    font-size:180%;
    text-align:left;
    color:#ffffff;
    background: rgba(0,0,0,.20);
} 
