.game_display {
    position: relative;
    width:100%;
}

.game_plate {
    position: absolute;
    height:31%;
    top:1%;
    left:20.5%;
}

.game_icon {
    position: absolute;
    height:43%;
    top:6%;
    left:2.5%;
}
