.mai_rainbow {
  background: -moz-linear-gradient(left,
    rgba(255,0,0,0.2),
    rgba(255,69,0,0.2),
    rgba(255,255,0,0.2),
    rgba(0,128,0,0.2),
    rgba(0,0,255,0.2),
    rgba(75,0,130,0.2),
    rgba(238,130,238,0.2)
  );
  background: -webkit-gradient(linear, left center, right center,
    from(rgba(255,0,0,0.2)),
    color-stop(14%, rgba(255,69,0,0.2)),
    color-stop(28%, rgba(255,255,0,0.2)),
    color-stop(42%, rgba(0,128,0,0.2)),
    color-stop(56%, rgba(0,0,255,0.2)),
    color-stop(70%, rgba(75,0,130,0.2)),
    to(rgba(238,130,238,0.2))
  );
}

.mai_gold
{
  color: #000000; background-color: gold; text-align:center;
}

.mai_silver
{
  color: #000000; background-color: sliver; text-align:center;
}

.mai_copper
{
  color: #000000; background-color: #d98719; text-align:center;
}

.mai_violet
{
  color: #ffffff; background-color: #9400d3; text-align:center;
}

.mai_red
{
  color: #ffffff; background-color: red; text-align:center;
}

.mai_red
{
  color: #ffffff; background-color: red; text-align:center;
}

.mai_yellow
{
  color: #000000; background-color: yellow; text-align:center;
}

.mai_green
{
  color: #000000; background-color: greenyellow; text-align:center;
}

.mai_blue
{
  color: #000000; background-color: blue; text-align:center;
}

.mai_remaster
{
  color: #b44c97; background-color: #FFFFFF; text-align:center;
}

.mai_master
{
  color: #FFFFFF; background-color: #b44c97; text-align:center;
}

.mai_expert
{
  color: #FFFFFF; background-color: #f62626; text-align:center; 
}
