.mai_rainbow {
  background: -moz-linear-gradient(right,red,orange, green, blue,indigo,violet);
  background: -webkit-linear-gradient(right,red,orange, green, blue,indigo,violet);
  background: -ms-linear-gradient(right,red,orange, green, blue,indigo,violet);
  background: -o-linear-gradient(right,red,orange, green, blue,indigo,violet);
  background: linear-gradient(to left,red,orange, green, blue,indigo,violet);
  color: #ffffff;
}

.mai_gold
{
  color: #000000; background-color: gold; text-align:center;
}

.mai_silver
{
  color: #000000; background-color: #c0c0c0; text-align:center;
}

.mai_copper
{
  color: #000000; background-color: #d98719; text-align:center;
}

.mai_violet
{
  color: #ffffff; background-color: #9400d3; text-align:center;
}

.mai_red
{
  color: #ffffff; background-color: red; text-align:center;
}

.mai_red
{
  color: #ffffff; background-color: red; text-align:center;
}

.mai_yellow
{
  color: #000000; background-color: yellow; text-align:center;
}

.mai_green
{
  color: #000000; background-color: greenyellow; text-align:center;
}

.mai_blue
{
  color: #000000; background-color: blue; text-align:center;
}

.mai_white
{
  color: #000000; background-color: white; text-align:center;
}

.mai_remaster
{
  color: #b44c97; background-color: #FFFFFF; text-align:center;
}

.mai_master
{
  color: #FFFFFF; background-color: #b44c97; text-align:center;
}

.mai_expert
{
  color: #FFFFFF; background-color: #f62626; text-align:center; 
}
